section{
    padding-top: 75px;
    display: flex;
}

.info_principale{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    flex-grow: 1 1;
}

.photo_profil{
    height: 200px;
    width: 200px;
    background-color: blue;
}

.photo_medail{
    justify-content: space-around;
}

.photo_medail > div{
    height: 100px;
    width: 75px;
    background-color: green;
    color: white;
}