@font-face {
    font-family: 'MyWebFont';
    src:  url('Minitel.ttf') format('truetype');
  }

*{
    margin:0;
    padding: 0;
    list-style: none;
    color: #fff;
    font-family: 'MyWebFont';
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #000;
    flex-direction: column;
    align-items: center;
}

hr{
    border: none;
    background-color: #2e0cc2;
    height: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

main{
    border: dotted #ffffff;
    width: 100vh;
    margin: auto;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 15px;
}

main h1{
    font-size: 1.5em;
    color: #45f822;
}

main h2{
    font-size: 1.4em;
    color: #ffffff;
}

main p{
    font-size: 1.3em;
    color: #4cffff;
}
nav{
    position: sticky;
    top: 0px;
    background-color: #000;
    height: 5rem;
    width: 100vh;
    font-size: 1.3em;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border: 2px solid #2e0cc2;
}

nav a{
    color: #45f822;
    height: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover{
    text-shadow: 1px 1px 2px #45f822, 0 0 1em #45f822, 0 0 0.2em #45f822;
    color: #ffffff;
    text-decoration: underline;
}

select,select>option{
    color: #000;
}
form li{
    display: flex;
    row-gap: 1em;
}

form li>label{
    width: 15em;
    color: #45f822;
}
form li>input{
    flex-grow: 1;
    color:#4cffff;
}

summary{
    cursor: pointer;
}

input{
    border:none;
    background-color: #000;
}

nav img{
    height: 70px;
    width: 70px;
    margin-top: auto;
    margin-bottom: auto;
}