*{
    margin:0;
    padding: 0;
    list-style: none;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
}

hr{
    color: #2e0cc2;
}

main{
    padding: 50px 10vw;
    background-color: red;
    width: 100vh;
}

main h1{
    font-size: 1.5em;
    color: #45f822;
}

main h2{
    font-size: 1.4em;
    color: #ffffff;
}

main p{
    font-size: 1.3em;
    color: #4cffff;
}