*{
    margin:0;
    padding: 0;
    list-style: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

hr{
    border: none;
    background-color: #2e0cc2;
    height: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

main{
    padding: 50px 10vw;
    width: 100vh;
    margin: auto;
}

main h1{
    font-size: 1.5em;
    color: #45f822;
}

main h2{
    font-size: 1.4em;
    color: #ffffff;
}

main p{
    font-size: 1.3em;
    color: #4cffff;
}

nav{
    position: sticky;
    top: 0px;
    height: 4rem;
    width: 141vh;
    font-size: 1.3em;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border: 2px solid #2e0cc2;
}

nav a{
    color: #45f822;
    height: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover{
    text-shadow: 1px 1px 2px #45f822, 0 0 1em #45f822, 0 0 0.2em #45f822;
    color: #ffffff;
}